<!-- wp:template-part {"slug":"site-header","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","anchor":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="site-main">
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:comments -->
<div class="wp-block-comments">
<!-- wp:comments-title /-->
<!-- wp:comment-template -->
<!-- wp:comment-author-name /-->
<!-- wp:comment-content /-->
<!-- /wp:comment-template -->
<!-- wp:post-comments-form /-->
</div>
<!-- /wp:comments -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer","tagName":"footer","area":"footer","className":"site-footer"} /-->
